<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
    <script th:src="@{/static/js/detail.js}" ></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/detail.css}" />
</head>
<body>
<div id="detail">
    <div id="title">
        <span>Dear,</span>
        <span id="name" th:text="${username}"></span>
        <span>! Welcome to expertus internal system</span>
        </br>
        <span id="link"><a href="#">show more product list</a></span>
    </div>
    <div id="content"></div>
</div>

</body>
</html>