<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ProductDetailMapper">
  <resultMap id="BaseResultMap" type="com.domain.ProductDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="productName" jdbcType="VARCHAR" property="productname" />
  </resultMap>
  <sql id="Base_Column_List">
    id, productName
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from productdetail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllProduct"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from productdetail
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from productdetail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.domain.ProductDetail">
    insert into productdetail (id, productName)
    values (#{id,jdbcType=INTEGER}, #{productname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.domain.ProductDetail">
    insert into productdetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="productname != null">
        productName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productname != null">
        #{productname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.domain.ProductDetail">
    update productdetail
    <set>
      <if test="productname != null">
        productName = #{productname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.domain.ProductDetail">
    update productdetail
    set productName = #{productname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>